@import "tailwindcss";

:root {
  --background: #fcfdfe;
  --foreground: #1e293b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* Point de rupture pour écrans géants type Nest Hub Max */
  --breakpoint-3xl: 1920px;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}

/* Cache la scrollbar pour les filtres sur mobile/tactile */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}